html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS RESET END------------------------------------------------------------*/


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

/*header--------------------------------------------------------------------*/

.header {
    width: 1296px;
    margin: 0 auto;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

}

.header h1 {
    margin-right: 318px;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/logo.svg);
    width: 90px;
    height: 40px;
    background-repeat: no-repeat;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;

}

.header ul {
    display: flex;
    justify-content: space-around;
    width: 480px;
    gap: 10px;
    text-align: center;
}

.header li {
    padding: 4px 8px 4px 8px;
    height: 32px;
}

.header li:hover {
    font-weight: 600;
    padding: 4px 8px 4px 8px;
    background: linear-gradient(#919191, #919191) left top no-repeat,
        linear-gradient(#919191, #919191) left top no-repeat,
        linear-gradient(#919191, #919191) right top no-repeat,
        linear-gradient(#919191, #919191) right top no-repeat,
        linear-gradient(#919191, #919191) left bottom no-repeat,
        linear-gradient(#919191, #919191) left bottom no-repeat,
        linear-gradient(#919191, #919191) right bottom no-repeat,
        linear-gradient(#919191, #919191) right bottom no-repeat;
    background-size: 1px 8px, 8px 1px, 1px 8px, 8px 1px;
}

.menu {
    display: none;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
}

.material-symbols-rounded {
    font-size: 40px;
}

/*banner-----------------------------------------------------------------------*/

.banner {
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0 80px 0;
}

.banner_title {
    width: 670px;
    height: 192px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.banner_title h2 {
    width: 550px;
    height: 74px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: -12px;
    left: 71px;

}

.highlight {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 14px 20px;
    padding-right: 20px;
    padding-bottom: 28px;
    background-origin: padding-box;
}

.quote-left {
    position: relative;
    left: -300px;
}

.quote-right {
    position: relative;
    left: 300px;
    bottom: 30px;
}

.banner_content {
    display: flex;
    width: 636px;
    height: 84px;
    margin: 0 auto;
    justify-content: space-between;
}

.banner_content p {
    width: 298px;
}

.banner_content_title {
    width: 52px;
    display: block;
    color: #5B5B5B;

}

.bolder {
    display: block;
    margin: 0 auto;
    width: 24px;
    border-bottom: 2px solid #C1C1C1;
    margin-bottom: 8px;
}

/*main-----------------------------------------------------------------------*/

.container {
    width: 1296px;
    margin: 120px auto;
    padding: 0 12px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 80px;
    width: calc(50% - 12px);
}

.card img {
    border-radius: 8px;
    max-width: 100%;
}

.card-body {
    padding-left: 16px;
    color: #3B3B3B;
}

.card-body h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 16px 16px 8px 0;
    line-height: 1.2;
}

.card-body p {
    color: #919191;
    margin-bottom: 24px;
}

.card-body li {
    display: inline-block;
    padding-left: 16px;
    background-color: #F1F1F1;
    text-decoration: none;
    padding: 4px 12px 4px 12px;
    margin-right: 16px;
    border-radius: 16px;
}

.page_btn {
    display: flex;
    justify-content: space-between;
    width: 152px;
    margin: 0 auto;
}

.page_btn a {
    display: block;
    width: 40px;
    height: 40px;
    padding: 2px 13px 2px 13px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: #1E1E1E;
}

.page_btn a:hover {
    background-color: #1E1E1E;
    border-radius: 4px;
    color: #F1F1F1;
}

/*footer-----------------------------------------------------------------------*/

footer {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
    background-size: cover;
    padding: 80px 312px;

}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
    margin: 0 auto;
}

.contact_logo {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/logo.svg);
    width: 90px;
    height: 40px;
    background-repeat: no-repeat;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 24px;
}

.contact_text {
    margin-bottom: 24px;
    font-size: 20px;
}

.contact_mail {
    text-decoration: none;
    font-size: 20px;
    line-height: 1.2;
    color: #919191;
    ;
}

.contact_link {
    width: 306px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.contact_link a {
    display: flex;
    width: 100%;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    border: solid 1px #C1C1C1;
    background: #FFFFFF;
    color: #3B3B3B;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}

.contact_link img {
    margin-right: 8px;
}

.contact_link a:hover {
    background: #000000;
    color: #FFFFFF;
    font-weight: 700;
}

.contact_img {
    filter: invert(32%) sepia(0%) saturate(232%) hue-rotate(154deg) brightness(50%) contrast(80%);
}

.contact_link a:hover .contact_img {
    filter: hue-rotate(90deg);
}


.contact_link a:hover .contact_img2 {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(200%);
}


/*RWD------------------------------------------------------------------*/


@media (max-width: 376px) {

    /*RWD-header----------------------------------------------------------------*/
    .header {
        max-width: 100%;
        padding: 11.5px 12px;
        align-items: center;
        justify-content: space-between;
    }

    .header h1 {
        margin-left: 5.76px;
        margin-right: 0px;
        background-size: contain;
        width: 74px;
        height: 33px;
    }

    .header ul {
        display: none;
    }

    .menu {
        display: block;
    }

    /*RWD-banner----------------------------------------------------------------*/

    .banner {
        padding: 40px 24px 80px 24px;
    }

    .banner_title {
        width: 300px;
        margin-bottom: 40px;
    }

    .banner_title h2 {
        max-width: 100%;
        height: 60px;
        font-size: 20px;
        top: 0px;
        left: 0px;
    }

    .short {
        width: 260px;
        margin: 0 auto;
    }

    .highlight {
        background-position: 18px 16px;
        padding-right: 5px;
        padding-bottom: 8px;
    }

    .quote-left {
        left: 0px;
    }

    .quote-right {
        display: none;
    }

    .banner_content {
        display: flex;
        flex-direction: column;
        width: 235px;
        height: 188px;
    }

    .banner_content p {
        width: 235px;
    }

    /*RWD-main----------------------------------------------------------------*/
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 80px 12px;
    }

    .card-group {
        display: flex;
    }

    .card {
        margin-bottom: 48px;
        width: 100%;
    }

    .card img {
        border-radius: 4px;
        max-width: 100%;
    }


    .card-body h2 {
        font-size: 24px;
    }

    .card-body p {
        margin-bottom: 16px;
    }

    .card-body li {
        margin-right: 8px;
    }

    /*RWD-footer----------------------------------------------------------------*/
    footer {
        padding: 40px 12px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
    }

    .footer_container {
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }

    .contact_logo {
        width: 120px;
        height: 54px;
        background-size: contain;
        margin: 0 auto 24px auto;
    }

    .contact_text {
        width: 240px;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
    }

    .contact_mail {
        font-size: 16px;
    }

    .contact_link {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
    }

    .contact_link a {
        display: flex;
        width: 100%;
        padding: 4px 24px 4px 24px;
    }
}